@page "/"
@using MauiTs.Items
@using System.Globalization
@using MauiTs.Repository.Entities
@using MauiTs.Services
@using MauiTs.Utils
@inject IJSRuntime JS
@inject TsContext _context
@inject IAtividadeService _service

<div class="col-12">
        <h1>esqueceu o horario otario toma ai</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Horarios / salas</th>
                        <th scope="col">203 | 137</th>
                        <th scope="col">219 | 153</th>
                        <th scope="col">135 | 153</th>
                        <th scope="col">137 | 153</th>
                        <th scope="col">203 | 135</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">19:00 - 20:45</th>
                        <td>AED II</td>
                        <td>IE</td>
                        <td>OAC I</td>
                        <td>IAEC</td>
                        <td>COO</td>
                    </tr>
                    <tr>
                        <th scope="row">21:00 - 22:45</th>
                        <td>IAEC</td>
                        <td>COO</td>
                        <td>IE</td>
                        <td>AED II</td>
                        <td>OAC I</td>
                    </tr>

                </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <table class="table table-borderless table-sm list-group">
            <thead>
                <tr class="list-group">
                    <a class="list-group-item list-group-item-action active text-white">
                        Entregas
                    </a>
                </tr>
            </thead>
            <tbody>
            @foreach(var entrega in atividades)
            {
                    <tr class="list-group-item d-flex justify-content-between align-items-center">
                        <td>
                            @entrega.Data.ToString("dd/MM")
                        </td>
                        <td>
                            <li class="d-flex justify-content-between align-items-center">
                            @* @onclick="() => Editar(entrega.Id)" *@
                                <a class="text-dark hover_black cursor-pointer">
                                    @entrega.Titulo
                                    @* <span class="text-danger">id:@entrega.Id</span> *@
                                    </a>
                            </li>
                        </td>
                        <td>
                            <a class="text-danger cursor-pointer" @onclick="() => Excluir(entrega.Id)"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                @* <button class="btn btn-danger btn-sm float-right"><i class="fas fa-trash"></i></button> *@
            }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="inputData">Data limite</label>
                @* <input type="date" class="form-control" id="inputData" placeholder="Data"> *@
                    <input id="date-mask" class="form-control" placeholder="dd/MM/yyyy" @bind=date/>
                </div>
                <div class="form-group col-md-6">
                <label for="inputTitulo">Titulo</label>
                <input type="text" class="form-control" id="inputTitulo" placeholder="Titulo" @bind=atividade.Titulo>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescricao">Descrição</label>
                <input type="text" class="form-control" id="inputDescricao" placeholder="Meu tema é..." @bind=atividade.Descricao>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputState">Materia</label>
                    <select @bind=atividade.Materia id="inputState" class="form-control">
                        <option selected>Selecione...</option>
                        @foreach(var materia in materias)
                        {
                            <option id="@materia">@materia</option>
                        }
                    </select>
                    </div>
            </div>


            <button type="button" class="btn btn-primary" @onclick=OnSubmit>Inserir Entrega</button>
            @if (ValidationProblem)
            {
                <h6 class="badge-danger">Data inválida.</h6>
            }
        </form>
    </div>
    <div class="col-md-4">
        <form>
            <div class="form-group col-md-6">
                <label for="idExcluir">Id para Excluir</label>
                <input type="text" class="form-control" id="idExcluir" placeholder="Titulo" @bind=idParaExcluir>
            </div>
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-danger" @onclick=Excluir><i class="fas fa-trash"></i></button>
            </div>
        </form>
    </div>
</div>

@code{
    private string date = string.Empty;
    private string idParaExcluir = string.Empty;
    private bool editing = false;
    public List<Atividade> atividades = [];
    public string[] materias = ["AED II", "IE", "OAC I", "IAEC", "COO"];
    public Atividade atividade = new();
    public bool ValidationProblem;

    protected override async Task OnInitializedAsync()
    {
        await AtualizarAtividades();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ValidationProblem = false;
            await JS.InvokeVoidAsync("masks");
        }
    }

    protected async void OnSubmit()
    {
        if(!DateOnly.TryParseExact(
            date, "dd/MM/yyyy", CultureInfo.InvariantCulture, DateTimeStyles.None, out var validDate))
        {
            ValidationProblem = true;
            return;
        }
        if (string.IsNullOrEmpty(atividade.Titulo)) return;
        if (string.IsNullOrEmpty(atividade.Materia)) return;

        atividade.Data = validDate;
        ValidationProblem = false;

        if (editing)
        {
            await _service.Update(atividade);
        }
        else
        {
            await _service.Add(atividade);
            atividades.Add(atividade);
        }
        atividade = new();
        date = "";
    }

    protected async Task AtualizarAtividades()
    {
        var result = await _service.GetAll();
        atividades = result.OrderBy(v => v.Data).ToList();
    }

    protected async Task Excluir()
    {
        var id = idParaExcluir.TryToInt64();
        if (!id.HasValue) return;
        var result = await _service.Delete(id.Value);
        //var atividade = atividades.Find(atividade => atividade.Id == id);
        //atividades.Remove(atividade ?? new());
        await AtualizarAtividades();
    }

    protected async Task Excluir(long id)
    {
        var result = await _service.Delete(id);
        //var atividade = atividades.Find(atividade => atividade.Id == id);
        //atividades.Remove(atividade ?? new());
        //await AtualizarAtividades();
        await AtualizarAtividades();
    }

    protected async Task Editar(long id)
    {
        var result = await _service.Get(id);
        atividade = result;
        editing = true;
        date = atividade.Data.ToString("dd/MM/yyyy");
        await AtualizarAtividades();
    }
}